@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffffe;
  --headline: #094067;
  --paragraph: #5f6c7b;
  --button: #3da9fc;
  --button-text: #fffffe;
  --stroke: #094067;
  --main: #fffffe;
  --highlight: #3da9fc;
  --secondary: #90b4ce;
  --tertiary: #ef4565;
  --main: #d8eefe;
}

body {
  color: var(--paragraph);
  background: var(--background);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: proxima-nova, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}

#__next {
  min-height: 100vh;
}

main .results-0 {
  padding: 40px;
  background-color:var(--main)
}

main .results-1 {
  margin: 5px;
  /* background-color: blue; */
}

main .results-2 {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}

main .results-3 {
  width: 300px;
  background-color: var(--background);
  padding: 5px;
  box-shadow: 5px 10px var(--paragraph);
}

.underline {
  text-decoration: var(--tertiary) underline;
}

.under-border {
  border-bottom: var(--tertiary) solid 3px;
}

.upper-border {
  border-top: var(--tertiary) solid 3px;
}

header {
  text-align: center;
  margin: 10px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

nav {
  padding: 20px;
  margin: 10px 30px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
color: var(--headline);
text-transform: capitalize;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.15;
  font-weight: 700;
}

h2 { 
  font-size: 2.5rem;
  color: var(--headline);
  border-bottom: 3px solid var(--tertiary);
  text-transform: capitalize;
  font-weight: 600;
}

h3 { 
  font-size: 2rem;
  color: var(--headline);
  text-transform: capitalize;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  color: var(--paragraph);
  font-size: 1.3rem;
  font-weight: 400;

}

.search-form form {
  background: var(--secondary);
  box-shadow: 5px 10px var(--headline);
  display: flex;
  gap: 20px;
  min-height: 300px;
  padding: 30px;
  align-items: center;
}

input {
  height: 4rem;
  margin-bottom: 0px;
  padding-left: 20px;
  border: 3px solid var(--background);
  border-radius: 3px;
  background-color: var(--background);
  color: #1f1235;
  font-weight: 700;
  width: 100%;
  flex-grow: 9;
  transition: border-color 2s ease;
  transition: font-size 1s ease;
}

input:hover, input:focus {
  font-size: 1.1em;
}

button[type='submit'] {
  background-color: #ef4565;
  color: #fffffe;
  width: 20rem;
  height: 4rem;
  padding: 5px;
  transition: font-size 1s ease;
}

button[type='submit']:hover {
  font-size: 0.95em;
}

footer {
  margin: 10px 30px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  /* * {
    background: #A12312;
  } */
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
  }

  .search-form form {
    min-height: 100px;
  }

  main .results-3 {
    width: 90%;
  }

  main .results-0 {
    padding: 40px 0px;
  }
}

@media screen and (max-width:600px) {
  .search-form form {
    flex-direction: column;
    gap: 0;
  }

  .search-form form button {
    width: 100%;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  h1, p {
    margin: 10px 30px;
  }
}


@media screen and (max-width:480px) {
  nav p {
    display: none;
  }
}
