@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffffe;
  --headline: #094067;
  --paragraph: #5f6c7b;
  --button: #3da9fc;
  --button-text: #fffffe;
  --stroke: #094067;
  --main: #fffffe;
  --highlight: #3da9fc;
  --secondary: #90b4ce;
  --tertiary: #ef4565;
}

body {
  color: var(--paragraph);
  background: var(--background);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: proxima-nova, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}

main .results-0 {
  margin: 5px;
  /* background-color: red; */
}

main .results-1 {
  margin: 5px;
  /* background-color: blue; */
}

main .results-2 {
  display: flex;
  flex-wrap: wrap;
  /* width: calc(100vw - 100px); */
  gap: 30px;
  justify-content: space-evenly;
}

main .results-3 {
  width: 200px;
}

.underline {
  text-decoration: var(--tertiary) underline;
}

.under-border {
  border-bottom: var(--tertiary) solid 3px;
}

header {
  text-align: center;
  margin: 10px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

nav {
  padding: 20px;
  margin: 10px 30px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

nav > * {
 width: calc(100vw / 3)
}

h1, h2, h3, h4, h5, h6 {
color: var(--headline)
}

h1 {
  font-size: 3.5rem;
  line-height: 1.15;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  color: var(--paragraph);
  font-size: 1.3rem;
  font-weight: 400;

}